:host {
  .block {
    max-width: 1000px;
    width: unset;

    border: 1px solid #1EADFF;
    border-radius: 10px;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;

    .balk {
      display: grid;
      grid-template-columns: 250px 250px 250px 35px 35px;
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      margin-bottom: 5px;
      min-height: 38px;
      padding: 5px;
    }

    .id {
      font-size: 0.6em;
    }

    .bar {
      transition: height 200ms ease-in-out;
      height: 38px;
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid #0000A4;
      padding: 5px;
      margin-bottom: 5px;
    }

    .bar.showAddNode {
      height: 300px;
    }

    .background.switch {
      transition: margin-left 200ms ease-in-out, height 200ms ease-in-out;
      border-radius: 10px;
      margin-top: -49px;
      margin-left: -105%;
      width: 100%;
      height: 50px;
      background-color: #0000A4;

      .add-node {
        color: white;
        margin-left: 10px;
        margin-top: 15px;
      }

      .balk {
        color: white;
      }

    }

    .bar:hover > .background.switch,
    .bar.showAddNode > .background.switch {
      margin-left: -5px;
      height: 300px;
    }

    .balk.add {
      transition: color 100ms ease-in-out;
      display: grid;
      grid-template-columns: 10px 28px 1fr 35px;
      justify-items: left;
      padding: 0;
      color: black;
      height: 38px
    }

    .bar:hover > .balk.add,
    .bar.showAddNode > .balk.add {
      color: white;
    }

    .balk.nodes {
      background-color: #0000A4;
      color: white;
      border-radius: 10px;

      .closed {
        overflow: hidden;
        max-height: 20px;
        text-overflow: ellipsis;
        max-width: 250px;
        white-space: nowrap;
      }
    }
  }

}
