/* You can add global styles to this file, and also import other style files */
//@import "~puik/styles";

html, body {
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}
